@model CurrencyConverter
<style>
   .table {
        vertical-align:top;
	    width: 100%;
	    border: none;
	    margin-bottom: 20px;
        font-family:'Franklin Gothic';
        font-size: 25px;
        text-align: center;
        color: grey;      
    }
    .table thead th {        
        vertical-align: top;	    
	    text-align: center;
	    border: none;
	    padding: 10px 15px;	    
        font-family:'Franklin Gothic';
	    font-size: 20px;                      
    }
    .table thead tr th:first-child {
	    border-radius: 0px 0 0 0px;
    }
    .table thead tr th:last-child {
	    border-radius: 0 0px 0px 0;
    }
    .table tbody td {
        vertical-align: top;
	    text-align: center;
	    border: none;
	    padding: 10px 15px;
        font-family:'Franklin Gothic';
	    font-size: 20px;
        border-bottom-style: solid;
        border-bottom-color: gainsboro;     
    }
    .table tbody tr:nth-child(even){
	    background: #f3f3f3;
    }
    .table tbody tr td:first-child {
	    border-radius: 0px 0 0 0px;
    }
    .table tbody tr td:last-child {
	    border-radius: 0 0px 0px 0;
    }
</style>

<center>
    <table class="table" width="1000">
        <tr><th colspan="4" ><font color="dimgray">Курс валют ЦБ</font><th></tr>
        <tr><th><font color="dimgray">Код</font></th><th><font color="dimgray">Номинал</font></th><th><font color="dimgray">Валюта</font></th><th><font color="dimgray">Курс ЦБ</font></th></tr>
        <tr><td>KRW</td><td>1000</td><td><font color="black">Вон Республики Корея</font></td><td>@($"{Model.KRW1000}")</td></tr>
        <tr><td>JPY</td><td>100</td><td><font color="black">Японских иен</font></td><td>@($"{Model.JPY100}")</td></tr>    
    </table>
</center>

